@charset "UTF-8";

/* CORES
#C4F82A
#141414
#1F1F1F
#333333
*/

*{
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter\ larry.ttf);
}

body {
    background-color: #141414;
    font-family: 'Inter';
}

img {
    border-radius: 50%;
    width: 60px;
    display: block;
    margin: auto;
}

header h1{
    color: white;
    text-align: center;
    font-weight: normal;
    font-size: 1em;
    padding-top: 15px;
}

header > p {
    color: #C1E253;
    text-align: center;
    font-size: 0.6em;
    padding: 10px;
}

section > p {
    color: #b3b3b3;
    font-size: 0.7em;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 18px;
}

main {
    background-color: #1F1F1F;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 28px;
    border-radius: 7px;
    width: 240px;
    height: 400px;

}

menu ul {
    list-style-type: none;
}

menu > ul > li > a{
    display: block;
    text-decoration: none;
    color: white;
    background-color: #333333;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 12px;
    font-size: .8em;
}

menu > ul > li > a:hover {
    background-color: #C4F82A;
    color: black;
}

@media screen and (max-width: 300px){
    main {
        width: 215px;
        height: 380px; 
        padding: 20px;
    }
    menu > ul > li > a {
        padding: 8.6px;
        font-size: .9em;
    }
}